<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 命名空间 -->
    <typeAliases>
        <typeAlias alias="DemoUser" type="com.zyr.demo.bean.DemoUser"/>
        <typeAlias alias="DemoGiftKey" type="com.zyr.demo.bean.DemoGiftKey"/>
        <typeAlias alias="DemoGift" type="com.zyr.demo.bean.DemoGift"/>
        <typeAlias alias="UserGift" type="com.zyr.demo.bean.UserGift"/>
        <typeAlias alias="DemoUserGift" type="com.zyr.demo.bean.DemoUserGift"/>
    </typeAliases>

    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>